flask
sounddevice
azure-identity 
requests
twilio
pygame
openai
python-dotenv
azure-servicebus 
#assist
# google-auth 
# google-auth-oauthlib 
# google-auth-httplib2 
# google-api-python-client
# vosk
